[MASTER]

ignore=tests, story_tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        too-few-public-methods
[FORMAT]
max-line-length=100

[REFACTORING]
max-nested-blocks=2

[DESIGN]
max-statements=15

[STRING]
check-quote-consistency=yes
