{% import 'elements/button.html' as btn %}
{% extends "layout.html" %}

{% block title %}
  Reference Manager
{% endblock %}

{% block body %}

<ul>
  {% if reference %}
    {% if reference['data']['entry_type'] == "book" %}
      <li style="margin-bottom: 15px;">
        <strong>Type:</strong> {{ reference['data']['entry_type'] }}<br>
        <strong>Title:</strong> {{ reference['data']['title'] }}<br>
        <strong>Authors:</strong> {{ reference['data']['authors'] }}<br>
        <strong>Year:</strong> {{ reference['data']['year'] }}<br>
        <strong>Publisher:</strong> {{ reference['data']['publisher'] }}<br>
        <strong>ISBN:</strong> {{ reference['data']['isbn'] }}<br>
      </li>
    {% endif %}
    {% if reference['data']['entry_type'] == "article" %}
      <li style="margin-bottom: 15px;">
        <strong>Type:</strong> {{ reference['data']['entry_type'] }}<br>
        <strong>Title:</strong> {{ reference['data']['title'] }}<br>
        <strong>Authors:</strong> {{ reference['data']['authors'] }}<br>
        <strong>Year:</strong> {{ reference['data']['year'] }}<br>
        <strong>Journal:</strong> {{ reference['data']['journal'] }}<br>
        <strong>Volume:</strong> {{ reference['data']['volume'] }}<br>
        <strong>Number:</strong> {{ reference['data']['number'] }}<br>
        <strong>Pages:</strong> {{ reference['data']['pages'] }}<br>
      </li>
    {% endif %}
    {% if reference['data']['entry_type'] == "inproceedings" %}
      <li style="margin-bottom: 15px;">
        <strong>Type:</strong> {{ reference['data']['entry_type'] }}<br>
        <strong>Title:</strong> {{ reference['data']['title'] }}<br>
        <strong>Booktitle:</strong> {{ reference['data']['booktitle'] }}<br>
        <strong>Authors:</strong> {{ reference['data']['authors'] }}<br>
        <strong>Year:</strong> {{ reference['data']['year'] }}<br>
        <strong>Pages:</strong> {{ reference['data']['pages'] }}<br>
        <strong>Publisher:</strong> {{ reference['data']['publisher'] }}<br>
      </li>
    {% endif %}
    <div class="flex space-x-4 mt-4">
      <form action="/update_reference/{{ reference['data']['id'] }}" method="GET">
          {{ btn.button('Edit This Reference', type='submit') }}
      </form>
  
      <form action="/remove_reference/{{ reference['data']['id'] }}" method="POST">
          {{ btn.button('Delete This Reference', type='submit') }}
      </form>
  </div>

  {% endif %}
</ul>

{% endblock %}
