{% extends "layout.html" %}

{% block title %}
  Reference Manager
{% endblock %}

{% block body %}

<h2>Reference Manager app</h2>

<a href="/"> Back to home page </a>

<ul>
  {% if reference %}
    {% if reference['data']['entry_type'] == "book" %}
      <li style="margin-bottom: 15px;">
        <strong>Type:</strong> {{ reference['data']['entry_type'] }}<br>
        <strong>Title:</strong> {{ reference['data']['title'] }}<br>
        <strong>Authors:</strong> {{ reference['data']['authors'] }}<br>
        <strong>Year:</strong> {{ reference['data']['year'] }}<br>
        <strong>Publisher:</strong> {{ reference['data']['publisher'] }}<br>
        <strong>ISBN:</strong> {{ reference['data']['isbn'] }}<br>
      </li>
    {% endif %}
    {% if reference['data']['entry_type'] == "article" %}
      <li style="margin-bottom: 15px;">
        <strong>Type:</strong> {{ reference['data']['entry_type'] }}<br>
        <strong>Title:</strong> {{ reference['data']['title'] }}<br>
        <strong>Authors:</strong> {{ reference['data']['authors'] }}<br>
        <strong>Year:</strong> {{ reference['data']['year'] }}<br>
        <strong>Journal:</strong> {{ reference['data']['journal'] }}<br>
        <strong>Volume:</strong> {{ reference['data']['volume'] }}<br>
        <strong>Number:</strong> {{ reference['data']['number'] }}<br>
        <strong>Pages:</strong> {{ reference['data']['pages'] }}<br>
      </li>
    {% endif %}
    {% if reference['data']['entry_type'] == "inproceedings" %}
      <li style="margin-bottom: 15px;">
        <strong>Type:</strong> {{ reference['data']['entry_type'] }}<br>
        <strong>Title:</strong> {{ reference['data']['title'] }}<br>
        <strong>Booktitle:</strong> {{ reference['data']['booktitle'] }}<br>
        <strong>Authors:</strong> {{ reference['data']['authors'] }}<br>
        <strong>Year:</strong> {{ reference['data']['year'] }}<br>
        <strong>Pages:</strong> {{ reference['data']['pages'] }}<br>
        <strong>Publisher:</strong> {{ reference['data']['publisher'] }}<br>
      </li>
    {% endif %}
    <form action="/remove_reference/{{ reference['data']['id'] }}" method="POST" style="margin-top: 20px;">
      <button type="submit" style="background-color: rgb(250, 249, 249); color: rgb(8, 8, 8); border: 2px solid black; padding: 10px; cursor: pointer;">
        Delete this reference
      </button>
    </form>
  {% endif %}
</ul>

{% endblock %}

<!--

Vaihtoehtoisena tapana jotain tälläistä:
Dynaamisesti tulostaa kaikki arvot, mutta koska kaikki viitteet sisältävät kaikki mahdolliset kentät,
niin pitää pystyä filtteröimään vain kyseiselle viitetyypille ominaiset kentät.
Tälläinen versio tulostaisi kaikille viitteille kaikki arvot, myös ne jotka eivät kuulu kyseiselle viitetyypille.

<ul>
  {% if reference %}
    <li style="margin-bottom: 15px;">
      <ul>
        {% for key, value in reference['data'].items() %}
          <li><strong>{{ key | capitalize }}:</strong> {{ value }}</li>
        {% endfor %}
      </ul>
    </li>

    <form action="/remove_reference/{{ reference['data']['id'] }}" method="POST" style="margin-top: 20px;">
      <button type="submit" style="background-color: rgb(250, 249, 249); color: rgb(8, 8, 8); border: 2px solid black; padding: 10px; cursor: pointer;">
        Delete this reference
      </button>
    </form>

  {% endif %}
</ul>



-->